<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BlogSuite" thread-count="3"  parallel="tests">

    <test name="Chrome Test1">
        <parameter name="Port" value="4546"/>
        <classes>
            <class name="Selenium_MultiBrowser_Test"/>
        </classes>
    </test>

    <test name="Chrome Test2">
        <parameter name="Port" value="4547"/>
        <classes>
            <class name="Selenium_MultiBrowser_Test"/>
        </classes>
    </test>
</suite>